# Unity folders (recursive)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# User-specific files
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd

# Visual Studio / IDE files
.vs/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# OS generated
.DS_Store
Thumbs.db

# ML-Agents / training results
results/
